<!DOCTYPE html>
<html>
<head>
    <title>Counter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        .box{
            width:100%;
            height:200px;
        }

        .counter{
            display:block;
            width:50%;
            margin: 0 auto;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">

        </div>
        <div class="counter">
            <h1>Counter</h1>
            <p>You've visted: {{session['visits']}} times</p>
            <form action="/twoVisits" method="POST" style="display:inline-block;">
                <input type="hidden" name="visits2" value="2" />
                <input type="submit" class="btn btn-primary" value="Two visits!">
            </form>
            <form action="/zeroVisits" method="POST" style="display:inline-block;">
                <input type="hidden" name="visits0" value="0" />
                <input type="submit" class="btn btn-primary" value="No visits!">
            </form>
        </div>
    </div>
</body>
</html>